{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Handbook Catalog. Shopping Centers</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link href="{% static 'css/layout.css' %}" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<div class="bgded overlay" style="background-color: black;"> 
  <header id="header" class="hoc clear"> 
    <div id="logo" class="one_quarter first">
      <h1><a href="{% url 'main_page' %}">Handbook</a></h1>
      <p>Information about companies</p>
    </div>
    <div class="three_quarter">
      <ul class="nospace clear">
        <li class="one_third first">
          <div class="block clear"><a href="#"><i class="fas fa-phone"></i></a> <span><strong>Give us a call:</strong> +00 (123) 456 7890</span></div>
        </li>
        <li class="one_third">
          <div class="block clear"><a href="#"><i class="fas fa-envelope"></i></a> <span><strong>Send us a mail:</strong> support@domain.com</span></div>
        </li>
        <li class="one_third">
          <div class="block clear"><a href="#"><i class="fas fa-clock"></i></a> <span><strong> Mon. - Sat.:</strong> 08.00am - 18.00pm</span></div>
        </li>
      </ul>
    </div>
    
  </header>

  <section id="navwrapper" class="hoc clear"> 
    
    <nav id="mainav">
      <ul class="clear">
        <li class="active"><a href="{% url 'main_page' %}">Home</a></li>
        <li><a class="drop" href="#">Categories</a>
          <ul>
            <li><a href="{% url 'ishop' %}">Internet Shop</a></li>
            <li><a href="{% url 'smarket' %}">SuperMarket</a></li>
            <li><a href="{% url 'shopping'%}">Shopping center</a></li>
            <li><a href="{% url 'fshop' %}">Furniture Shop</a></li>
            <li><a href="{% url 'icompany' %}">IT Company</a></li>
            <li><a href="{% url 'edu' %}">Educational center</a></li>
          </ul>
        </li>
        {% if user.is_authenticated %}
          <li><a href="#">Hello :{{ user.get_username }}</a></li>
          <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
          <li><a href="{% url 'addnew' %}" style="border: 2px solid green;">Add new company to handbook</a></li>
        {% else %}
        <li><a href="{% url 'login' %}?next={{request.path}}">Login</a></li>
        <li><a href="{% url 'register' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </nav>
    

    
  </section>
  <div id="breadcrumb" class="hoc clear"> 
    
    <h6 class="heading">Catalog</h6>
    <ul>
      <li><a href="{% url 'main_page' %}">Home</a></li>
      <li><a href="#"> Shopping Centers</a></li>
    </ul>
    
  </div>
  
</div>
<div class="wrapper row3">
  <main class="hoc container clear"> 
   
    <div class="content"> 
    
      <div id="gallery">
        <figure>
          <header class="heading"> Shopping Centers</header>

          <ul class="nospace clear" style="display: flex; justify-content: space-between;">
            {% for shop in shops %}
            <li class="one_quarter"><a href="{% url 'company_detail' pk=shop.pk %}"><img src="{{ shop.company_logo.url }}" alt=""></a>
              <h3 style="text-align: center;">{{shop.company_name}}</h3>
            </li>
            {% endfor %}
          </ul>
          
        </figure>
      </div>
     
    </div>
  
    <div class="clear"></div>
  </main>
</div>

<div class="bgded overlay row4" style="background-color: black;">
  <footer id="footer" class="hoc clear"> 
    
    <div class="center btmspace-50">
      <h6 class="heading">Handbook</h6>
      <ul class="faico clear">
        <li><a class="faicon-dribble" href="#"><i class="fab fa-dribbble"></i></a></li>
        <li><a class="faicon-facebook" href="#"><i class="fab fa-facebook"></i></a></li>
        <li><a class="faicon-google-plus" href="#"><i class="fab fa-google-plus-g"></i></a></li>
        <li><a class="faicon-linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
        <li><a class="faicon-twitter" href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a class="faicon-vk" href="#"><i class="fab fa-vk"></i></a></li>
      </ul>
    </div>
    
    <hr class="btmspace-50">
    
    <div class="div_flex" style="display: flex; justify-content: space-between;">
      <div class="one_quarter first">
        <h6 class="heading">Contact us</h6>
        <p class="nospace btmspace-15">If you want to add some information or join our team, please leave us your email</p>
        <form action="#" method="post">
          <fieldset>
            <legend>Newsletter:</legend>
            <input class="btmspace-15" type="text" value="" placeholder="Name">
            <input class="btmspace-15" type="text" value="" placeholder="Email">
            <button type="submit" value="submit">Submit</button>
          </fieldset>
        </form>
      </div>

      <div class="one_quarter">
        <h6 class="heading">Where our team located?</h6>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1884.8271701521287!2d76.91027737383226!3d43.23463584210306!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3883692f027581ad%3A0x2426740f56437e63!2z0JzQtdC20LTRg9C90LDRgNC-0LTQvdGL0Lkg0YPQvdC40LLQtdGA0YHQuNGC0LXRgiDQuNC90YTQvtGA0LzQsNGG0LjQvtC90L3Ri9GFINGC0LXRhdC90L7Qu9C-0LPQuNC5!5e0!3m2!1sru!2skz!4v1639848603565!5m2!1sru!2skz" width="350" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>

    
  </footer>
</div>

<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    
    <p class="fl_left">Copyright &copy; 2021 - Rights not reserved</p>
    <p class="fl_right">Team Alisher Ruziyev, Assylov Arystan</p>
    
  </div>
</div>

<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.backtop.js' %}"></script>
<script src="{% static 'js/jquery.mobilemenu.js' %}"></script>
</body>
</html>